// Colors
theme-color = #000000;
additional-color: #eeeeee;
heading-color = #000000;
text-color = #000000;

// Sizes
paragraph-size = 16px;

// Breakpoints
sm-container = 540px;
sm-breakpoint = 576px;

md-container = 720px;
md-breakpoint = 768px;

lg-container = 960px;
lg-breakpoint = 992px;

ex-container = 1160px;
ex-breakpoint = 1200px;

mobile-width-only = 991px;
